@font-face {
  font-family: "HUFSfontM";
  src: url(../HTML/font/한국외대체M.ttf);
}
@font-face {
  font-family: "HUFSfontB";
  src: url(../HTML/font/한국외대체B.ttf);
}

div,
input,
textarea {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "HUFSfontM";
}
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}
.blog-img {
  width: 20%;
  height: 200px;
  float: left;
}

.blog-profile {
  width: 50px;
  display: block;
  float: left;
}

.blog-name {
  float: left;
}

.navbar {
  text-align: center; /*중간정렬 하는 코드*/
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: pink;
  text-decoration: none;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../HTML/layoutbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 1px;
  filter: blur(30%);
  position: relative;
}
.main-title {
  color: white;
  font-size: 30px;
  margin-top: 100px;
  font-family: "HUFSfontB";
}

.main-content {
  color: white;
}

::selection {
  background-color: #98acc5;
}

.main-button {
  padding: 15px;
  font-size: 15px;
  width: 150px;
  margin-top: 30px;
  background: #98acc5;
  border: none;
  border-radius: 5px;
  color: white;
}

.main-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-color: rgb(239, 239, 239);
  position: relative;
  top: -160px;
  box-sizing: content-box;
}

input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.form-background {
  background-color: rgba(0, 0, 0, 0.475);
  padding: 30px;
}
.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}
.w-100 {
  width: 100%;
  padding: 10px;
}

.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
  float: right;
  background-color: #fff7dc;
  border-radius: 5px;
  border: none;
}
/* 
td,
th {
  border: 1px solid black;
} */

table {
  border-collapse: collapse;
}

.cart-background {
  width: 100%;
  background-color: #aecad6;
  padding: 30px;
}

.cart-title {
  margin-top: 10px;
  color: #23415b;
}
.cart-table {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-spacing: 0px;
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid #aecad6;
  text-align: center;
}

.cell-long {
  width: 700px;
}
.cart-table th:nth-child(2) {
  width: 400px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #23415b;
  color: white;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.btn:hover {
  background-color: #101e2a;
}

.btn:active {
  background-color: #103561;
}

.custom-link {
  text-decoration: none;
  margin: auto;
}
.custom-link:link {
  color: violet;
}

.flex-container {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  background-color: rgb(213, 178, 183);
  text-align: center;
  position: relative;
  padding: 1px;
}
.flex-item {
  width: 150px;
  height: 50px;
  margin: 5px;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.product-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.product-container div {
  float: left;
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 20px;
  }
  .product-container div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 20px;
  }
  .product-container div {
    width: 100%;
  }
}

.product-container i {
  background-color: #98acc5;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 43px;
  box-sizing: border-box;
}

.naver-bg {
  padding: 20px;
  margin: auto;
}

.bg-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.bg-img {
  width: 33%;
  padding: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  margin: auto;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

bg-img img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}
