@font-face {
  font-family: "HUFSfontM";
  src: url(../HTML/font/한국외대체M.ttf);
}
@font-face {
  font-family: "HUFSfontB";
  src: url(../HTML/font/한국외대체B.ttf);
}

div,
input,
textarea {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "HUFSfontM";
}

.product-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-container div {
  float: left;
  width: 25%;
}
